body{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.row{
    display: flex;
    justify-content: center;
    /* border: 2px red dashed; */
    width: 40vw;
}
.player-card{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    display: flex;
    /* border: 2px red dashed; */
}


#screen{
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-flow: column;
    align-items: center;
    border: 4px black solid;
    width: 470px;
    /* position: relative; */
}
#screen-overlay{
    display: flex;
}

#screen-image{
    top: 0;
    transition: all .3s linear;
    position: relative;
}

img{
    width: 200px;
    height:200px;
}

.main-text-2{
    font-size: 18px;
}

#fight-section{
    display: flex;
    width: 300px;
    height: 80px;
    border: 2px black solid;
}

#menu-options{
    display: flex;
    flex-direction: row;
}

#decision-section{
    width: 170px;
    border: 2px black solid;
}

#menu-subsection{
    display: flex;
    flex-flow: column wrap;
}

#menu-options-alt{
    display: none;
}

#yes, #no{
    margin: 1em;
}

h4{
    font-size: 12px;
    margin: 10px;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 5px;
}

li{
    padding: 0;
}

#title-card{
    text-align: center;
}

#fight-section-pt1, #fight-section-pt2{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

#fight-section-pt1 > li, #fight-section-pt2 > li{
    margin: 10px 0px;
}

#fight-section-alt{
    display: flex;
    text-align: center;
    align-items: center;
}


.hover:hover{
    background-color: grey;
    cursor: pointer;
}

.health-bar{
    width: 150px;
    height: 5px;
    background-color: green;
    border: 2px black solid;
    border-radius: 1em;
    margin: 5px;
}
.health-damage{
    background-color: white;
    height: 5px;
}

#enemy-damage {
    width: 0;
}

#player-hp{
    display: flex;
    justify-content: flex-end;
}

#player-damage{
    width: 0;
}

#hp-visuals-enemy, #hp-visuals-player{
    border: 6px solid black;
    border-top: none;
    border-radius: 6px;
}

#hp-visuals-enemy{
    border-right: none;
}

#hp-visuals-player{
    border-left: none;
}

.hp-container{
    display: flex;
    margin-left: 5px;
    font-size: 10px;
    align-items: center;;
}

#player-hp-num{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.character-image{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .1s;
}

#splash{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    transition: all 3s;
    /* z-index: -1; */
}

#game{
    display: none;
}

.bottom-pos{
    bottom: 0;
    position: absolute;
}

#screen-logo{
    width: 100%;
}

#splash{
    transition: all 2s ease;
}

#hp-card-enemy{
    position: relative;
    right: 300px;
}

#hp-card-player{
    position: relative;
    left: 300px;
}

#enemy-icon{
    position: relative;
    left: 300px;
    top: 0;
}

#enemy-image, #player-image{
    position: relative;
    transition: all .3s;
    top: 0;
}

#player-icon{
    position: relative;
    right: 300px;
    top: 0;
}

.slide-in-transition{
    opacity: 0%;
    transition: all .2s;
}

#fight-section-alt{
    padding: 5px;
}

